In [ ]:
import pandas as pd

hanna_file_dir = "hanna_stories_annotations.csv"
df_hanna = pd.read_csv(hanna_file_dir)
df_stories = df_hanna[["Story ID", "Story"]].drop_duplicates(subset=["Story ID"]).rename(
    columns={"Story ID": "narrative_id", "Story": "narrative"}
)
df_annotations = df_hanna[["Story ID", "Coherence"]].rename(
    columns={"Story ID": "narrative_id", "Coherence": "consistency"}
)

df_stories.to_csv("hanna_stories.csv", index=False)
df_annotations.to_csv("hanna_annotations.csv", index=False)

In [15]:
import pandas as pd

hanna_file_dir = "hanna_stories_annotations.csv"
df_hanna = pd.read_csv(hanna_file_dir)
df_annotations = df_hanna[["Story ID", "Coherence"]].rename(
    columns={"Story ID": "narrative_id", "Coherence": "consistency"}
)
df_annotations = df_annotations.groupby("narrative_id").mean().reset_index()
df_annotations.to_csv("hanna_annotations_average.csv", index=False)

In [1]:
import pandas as pd

hanna_file_dir = "hanna_stories_annotations.csv"
df_hanna = pd.read_csv(hanna_file_dir)
df_annotations = df_hanna[["Story ID", "Coherence"]].rename(
    columns={"Story ID": "narrative_id", "Coherence": "consistency"}
)
df_annotations = df_annotations.groupby("narrative_id").median().reset_index()
df_annotations.to_csv("hanna_annotations_median.csv", index=False)

In [8]:
import pandas as pd

hanna_file_dir = "hanna_stories_annotations.csv"
df_hanna = pd.read_csv(hanna_file_dir)
df_hanna_pivot = df_hanna.pivot_table(
    index="Story ID",
    columns="Worker ID",
    values="Coherence",
    aggfunc="mean",
).reset_index()
col_table =  {"Story ID": "narrative_id", "Coherence": "consistency"}
i = 0
for value in df_hanna["Worker ID"].value_counts().index:
    i += 1
    col_table[value] = f"human_score_{i}"
df_hanna_pivot.rename(columns=col_table, inplace=True)
df_hanna_pivot = df_hanna_pivot[["narrative_id"] + [f"human_score_{i}" for i in range(1, i + 1)]]
df_hanna_pivot.to_csv("hanna_annotations_pivot.csv", index=False)

In [17]:
import pandas as pd

swb_file_dir = "story_writing_benchmark_average.csv"
df_swb = pd.read_csv(swb_file_dir)
df_extracted = df_swb[df_swb["language"] == "en"][["story_text"]].drop_duplicates(subset=["story_text"]).rename(
    columns={"story_text": "narrative"}
)
df_extracted.reset_index(inplace=True)
df_extracted.index.name = "narrative_id"
df_extracted = df_extracted[["narrative"]]
df_extracted.to_csv("swb_stories.csv", index=True)
df_extracted

                                                      narrative
narrative_id
0             The sun had just dipped below the horizon, cas...
1             It was a moonless night in the bustling city o...
2             Lucca, his heart still pounding from the encou...
3             Lucca stood in awe, his heart pounding with a ...
4             The city of Neo-Metropolis, a sprawling metrop...
...                                                         ...
3475          The narrow alleyway seemed to constrict around...
3476          In the heart of ancient Rome, where marble col...
3477          In the heart of ancient Rome, where marble col...
3478          The arena was a cauldron of silence, the air c...
3479          The air crackled with tension as the boy and t...

[3480 rows x 1 columns]

In [13]:
import pandas as pd

swb_file_dir = "story_writing_benchmark_average.csv"
df_swb = pd.read_csv(swb_file_dir)
df_good_stories = df_swb[(df_swb["language"] == "en") & (df_swb["q2"] >= 3.0) & (df_swb["q5"] >= 3.0) & (df_swb["q6"] >= 3.0) & (df_swb["q7"] >= 3.0)].reset_index()
df_good_stories.index.name = "narrative_id"
df_good_stories = df_good_stories[["story_text"]].rename(columns={"story_text": "narrative"})
df_good_stories.to_csv("swb_good_stories.csv", index=True)
df_good_stories

                                                      narrative
narrative_id
0             The traveler, emboldened by the elder's words ...
1             A gentle breeze whispered through the tall gra...
2             In the bustling city of Manchester, where the ...
3             The sun had just begun its descent beyond the ...
4             Isabella followed Il Maestro, her steps quicke...
...                                                         ...
1018          In the heart of Victorian London, where gas la...
1019          The air in the room grew thick with anticipati...
1020          In the fog-kissed streets of Victorian London,...
1021          The narrow alleyway seemed to narrow further, ...
1022          In the heart of ancient Rome, where marble col...

[1023 rows x 1 columns]